
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#card {
    max-width: 1280px;
    margin: 0 auto;
}
#gradient{
    position: absolute;
	width: 251px;
	height: 165px;
	top: 44px;
	left: 46px;
    overflow: hidden;
    z-index:1;
}
#shine{
    position: absolute;
    background: rgba(255, 255, 255, 0.23);
	width: 57px;
	height: 300px;
    opacity: 0.25;
    top:120px;
    left:-120px;
	transform: rotate(-55deg);
    transform-origin:top;
    z-index:1;
}


/*Card */
#cardImage{
     position: absolute;
    margin: 0 auto;
    width: 500px;
    height: 300px;
}
